<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Stock Management System | Incoming Stock</title>
</head>
<body>
    <h3>Incoming stock page</h3>
    <div class="incomingStockList" th:unless="${#lists.isEmpty(incomingStockList)}">
        <h4>List of Incoming Stock From Factory</h4>
        <table>
            <thead>
                <tr>
                    <th th:text="Date">Processed Date</th>
                    <th th:text="Item">Stock Item</th>
                    <th th:text="Price">Stock Price</th>
                    <th th:text="Quantity">Quantity</th>
                    <th th:text="Total">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="is : ${incomingStockList}">
                    <td th:text="${{is.processDate}}">2020-Jan-01</td>
                    <td th:text="${is.stock}"></td>
                    <td th:text="${is.price}"></td>
                    <td th:text="${is.quantity}"></td>
                    <td th:text="${is.totalAmount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>